footer {
    width: 100%;
    margin-top: 50px;
    position: relative;
    overflow: hidden;

    path:nth-child(1) {
        stroke-dashoffset: 200;
        stroke-dasharray: 170;
        stroke: #862e02;
        stroke-width: 4px;
    }

    path:nth-child(2) {
        stroke-dashoffset: 80;
        stroke-dasharray: 100;
        stroke: #e0dae9;
        stroke-width: 3px;
    }
}